main {
  margin: 15vh auto;
  width: 38vw;
  height: 100vh;
  box-sizing: border-box;
}
.border {
  border: 2px solid blue;
}
.title {
  font-size: 40px;
  margin: 40px 0px;
}
.description {
  font-size: 16px;
}
.header {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 0;
}
.sub-title {
  line-height: 24px;
  margin: 40px 0px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 11vh;
}
.error-message {
  margin: 50px;
  font-size: 30px;
  font-weight: 500;
  color: rgb(235, 42, 42);
}

@media only screen and (max-width: 600px) {
  main {
    margin: 10vh auto;
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
  }
  .title {
    font-size: 30px;
    margin: 20px 0px;
  }
  .sub-title {
    font-size: 14px;
    margin: 20px 0px 30px 0px;
    line-height: 20px;
  }

  img {
    height: 65%;
    margin-left: -40px;
  }
}
@media only screen and (max-device-width: 568px) {
  .sub-title {
    font-size: 12px;
    line-height: 20px;
    margin: 15px 0px 20px 0px;
  }
  .title {
    margin: 15px 0px;
  }
}
